//Adaptive mobile: width <= 768px//
//768px/////////////////////////////////////////////////
//Blocks base
@media (max-width: 768px) {
  .-top-block {
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
  }

  .-top-flex-grow {
    width: 100%;
    padding: 0 0 1.5rem;
  }

  .-mrg-block {
    &.-portrait-gallery {
      .-mrg-inner {
        width: 50%;
      }
    }

    .slick {
      &-list {
        padding: 0 1rem !important;
      }
    }
  }
}

//Text base
@media (max-width: 768px) {
  h1 {
    margin-bottom: 2rem;
    font-size: $big-font-size;
  }

  h2 {
    margin-bottom: 1.5rem;
    font-size: $middle-font-size;
  }

  h3 {
    margin-bottom: 1.25rem;
    font-size: $medium-font-size;
  }

  h4 {
    margin-bottom: 1rem;
    font-size: $base-font-size;
  }
}

//Buttons base
@media (max-width: 768px) {
  .btn-arrow {
    width: 100%;
  }

  #scroll-to-top {
    bottom: 45px;
    right: 10px;
    width: 42px;
    height: 42px;
  }
}

//Inputs base
@media (max-width: 768px) {
  form {
    & > div {
      &.-w-6 {
        width: 100%;
      }
    }
  }
}

//Components
@media (max-width: 768px) {
  .-prod-slider {
    .slick {
      &-list {
        padding: 0 125px 0 1rem;
      }
    }
  }
}

//Header
@media (max-width: 768px) {
  .header {
    padding-top: 65px;

    &__desktop {
      display: none;
    }
  }
}

//Header mobile
@media (max-width: 768px) {
  .header-mobile {
    display: block;
    left: 0;
    transform: none;
  }
}

//Home page
@media (max-width: 768px) {
  .banner {
    padding-top: .25rem;
  }

  .products {
    &__tab-buttons, &__btn {
      width: 100%;
    }

    &__tab-buttons {
      padding: 0 0 1.5rem;
    }
  }

  .popular-products {
    &__filter {
      margin-bottom: 1.5rem;
    }
  }

  .popular-cat, .manufacturer, .news {
    &__btn {
      width: 100%;
    }
  }

  .calculation {
    &__item {
      width: 100%;
    }

    &__info {
      margin-bottom: 1rem;
    }
  }

  .news {
    &__container {
      .slick {
        &-list {
          padding-right: 75px;
        }
      }
    }
  }
}

//Multipage sections
@media (max-width: 768px) {
  .information {
    .container {
      padding: .75rem;
    }

    &__desc {
      p {
        margin-bottom: .75rem;
      }
    }
  }
}

//Inner page
@media (max-width: 768px) {
  .inner-page {
    &.-image-header {
      .inner-page__header {
        min-height: 160px;
      }
    }

    &.-image-header-manufacturer {
      .inner-page__header {
        min-height: 300px;

        .container {
          justify-content: center;
          flex-wrap: wrap;
        }
      }
    }

    &__header-info {
      width: 100%;
      margin: 1rem 0 0;
      text-align: center;

      .breadcrumb {
        & > ul {
          justify-content: center;
        }
      }
    }

    &__title {
      & > h1 {
        width: 100%;
        margin: 0;
      }

      & > span {
        width: 100%;
        font-size: $big-font-size;
      }
    }

    &__list {
      &.-products {
        .shop-item__block {
          width: 50%;
        }
      }

      &.-w-6 {
        .inner-page__box {
          width: 100%;
        }
      }

      &.-w-3 {
        .inner-page__box {
          width: 50%;
        }
      }
    }

    &__table {
      margin: -1rem 0;

      &.-compare {
        padding: 0;
        background: none;
        border-radius: 0;

        table {
          width: 100%;
          border-collapse: collapse;
        }

        thead {
          display: none;
        }

        th, td {
          &:first-child {
            position: relative;
            left: auto;
          }
        }

        tr, td {
          display: block;
        }

        tr {
          margin: 1rem 0;
          padding: 0 1rem;
          background-color: $white;
          border-radius: 10px;
        }

        td {
          position: relative;
          padding: 1rem 0;
          border-top: 1px solid $grey;

          &:first-child {
            border: none;

            .compare__img-wrap {
              width: 75px;
            }

            .compare__remove-product {
              right: auto;
              bottom: 10px;
              left: 60px;
            }
          }

          &:nth-child(3) {
            text-align: left;
          }

          &::before {
            content: attr(aria-label);
            display: block;
            width: 100%;
            margin-bottom: .75rem;
            color: $grey-dark;
            font-family: $ff;
            font-size: $base-font-size;
            font-weight: 700;
          }

          & > span {
            font-size: $base-font-size;
          }
        }
      }
    }

    &__info {
      margin-top: 1.5rem;

      &.-slider {
        margin-top: 1.5rem;
      }
    }

    &__form {
      form {
        width: calc(100% + 1rem);
        margin: -.5rem;

        & > div, & > input, & > textarea, & > select, & > h3 {
          width: calc(100% - 1rem);
          margin: .5rem;

          &.-w-6 {
            width: calc(50% - 1rem);
          }
        }

        .inner-page__form-subtitle {
          width: calc(100% - 1rem);
          margin: 0 .5rem .75rem;
        }
      }

      .-dot {
        & > p {
          width: calc(100% - 1rem);
          margin: .75rem .5rem .25rem;
          font-size: $base-font-size;
        }
      }
    }
  }
}

//Article or message page
@media (max-width: 768px) {
  .article-page {
    &__title {
      h2 {
        margin-bottom: 1.5rem;
      }
    }

    &__info {
      margin-top: 1.5rem;
    }
  }
}

//Shop
@media (max-width: 768px) {
  .shop {
    &__shop-cart {
      &.-shop-item {
        width: calc(50% - .5rem);
        margin: .75rem 0 0 .5rem;
        font-size: 0;

        & > svg {
          margin: 0;
        }

        & > span {
          font-size: 0;
        }
      }
    }
  }
}

//Shop item
@media (max-width: 768px) {
  .shop-item {
    &__block-inner {
      &:hover {
        border-radius: 10px;

        .shop-item__additional {
          transform: none;
          box-shadow: none;
        }
      }
    }

    &__bottom {
      &::before {
        display: none;
      }
    }

    &__cost {
      flex-wrap: wrap;
      padding-top: 1rem;
    }

    &__summary {
      width: 100%;
    }

    &__filter {
      &.-tabs {
        width: calc(100% + .5rem);
        margin: -.25rem;
        padding-top: .5rem;
      }
    }

    &__additional {
      position: relative;
      visibility: visible;
      opacity: 1;
      z-index: 3;
      top: auto;
      left: auto;
      transform: none;
      padding: 1.25rem 0 0;
      transition: opacity $duration $animation, transform $duration $animation;
      background-color: $white;
      border-radius: 0;
    }

    &__compare {
      &.-full-screen {
        display: none;
      }

      &.-mobile {
        display: block;
      }
    }
  }
}

//Shop catalog
@media (max-width: 768px) {
  .shop-catalog {
    &__filter {
      max-width: 100%;
      width: 100%;
      height: 100%;
      padding-bottom: 0;
      border-radius: 0;
    }

    &__filter-back {
      margin-bottom: 0;
    }

    &__filter-inner {
      max-height: calc(100vh - 48px);
      padding-bottom: 1rem;
    }

    &__products-list {
      .shop-item__block {
        width: 50%;
      }
    }
  }

  .shop-collection, .shop-category {
    &__item {
      width: 100%;
    }
  }

  .shop-collection {
    &__link {
      max-width: 450px;
      margin: 0 auto;
    }
  }
}

//Shop cart
@media (max-width: 768px) {
  .shop-cart {
    &__order-list-wrap {
      padding-bottom: 60px;
    }

    &__order-list {
      padding-top: 1rem;
    }

    &__order-list-inner {
      max-height: calc(100vh - 150px);
    }

    &__title {
      & > span {
        font-size: 24px;
      }
    }

    &__products {
      position: fixed;
      z-index: 6;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      margin: 0;
      padding: .5rem 1rem;
      border-top: 1px solid $grey-light;
      border-radius: 10px 10px 0 0;

      &.-active {
        z-index: 15;
      }
    }

    &__products-amount, &__products-cost {
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &__products-amount {
      p {
        font-size: $smallest-font-size;
      }
    }

    &__products-cost {
      p {
        font-size: $base-font-size;
      }
    }

    &__products-btn {
      width: 36px;
      height: 36px;
    }

    &__tab {
      form {
        & > div, & > input, & > textarea, & > select, & > p {
          &.-w-6 {
            width: calc(100% - 1rem);
          }
        }
      }
    }

    &__order-back {
      display: none;
    }
  }
}

//Footer
@media (max-width: 768px) {
  .footer {
    padding: 1.5rem 0 5rem;

    .container {
      justify-content: center;
    }

    &__info {
      max-width: 500px;
      width: 100%;
      text-align: center;
    }

    &__socials {
      justify-content: center;
    }

    &__sections {
      display: none;
    }

    &__mobile {
      display: block;
      left: 0;
      transform: none;
    }
  }
}

//640px/////////////////////////////////////////////////
//Blocks base
@media (max-width: 640px) {
  .-mrg-block {
    &.-landscape-gallery {
      .-mrg-inner {
        width: 100%;
      }
    }
  }
}

//Components
@media (max-width: 640px) {
  .-prod-slider {
    .slick {
      &-list {
        padding-right: 1rem;
      }
    }
  }

  .info-block {
    &__item {
      width: 100%;
    }

    &__link {
      max-width: 380px;
      margin: 0 auto;
    }
  }
}

//Home page
@media (max-width: 640px) {
  .popular-cat {
    &__item {
      width: 100%;
    }
  }

  .news {
    &__container {
      .slick {
        &-list {
          padding-right: 2.5%;
        }
      }
    }
  }
}

//Inner page
@media (max-width: 640px) {
  .inner-page {
    &__list {
      &.-manufacturers {
        .manufacturer__item {
          width: 50%;
        }
      }

      &.-w-4 {
        .inner-page__box {
          width: 100%;
        }
      }
    }

    &__form {
      form {
        & > div, & > input, & > textarea, & > select, & > h3 {
          &.-w-6 {
            width: calc(100% - 1rem);
          }
        }
      }
    }
  }
}

//Shop catalog
@media (max-width: 640px) {
  .shop-catalog {
    &__sort {
      flex-wrap: wrap;
    }

    &__sort-title {
      width: 100%;
      margin: 0 0 .25rem;
    }
  }
}

//550px/////////////////////////////////////////////////
//Components
@media (max-width: 550px) {
  .-prod-slider {
    .slick {
      &-list {
        padding-right: 225px;
      }
    }
  }
}

//Inner page
@media (max-width: 550px) {
  .inner-page {
    &__list {
      &.-products {
        .shop-item__block {
          width: 100%;
        }
      }

      &.-w-3 {
        .inner-page__box {
          width: 100%;
        }
      }

      &.-w-2 {
        .inner-page__box {
          width: 50%;
        }
      }
    }
  }
}

//Home page
@media (max-width: 550px) {
  .news {
    &__container {
      .slick {
        &-list {
          padding-right: 150px;
        }
      }
    }
  }
}

//Multipage sections
@media (max-width: 550px) {
  .manufacturer {
    &__item {
      width: 50%;
    }
  }
}

//Shop catalog
@media (max-width: 550px) {
  .shop-catalog {
    &__products-list {
      .shop-item__block {
        width: 100%;
      }
    }
  }
}

//520px/////////////////////////////////////////////////
//Components
@media (max-width: 520px) {
  .-prod-slider {
    .slick {
      &-list {
        padding-right: 175px;
      }
    }
  }
}

//480px/////////////////////////////////////////////////
//Blocks base
@media (max-width: 480px) {
  .container {
    width: calc(100% - 2rem);
  }
}

//Lists base
@media (max-width: 480px) {
  ul {
    &.-tabs {
      margin: -.5rem;

      &:last-child {
        margin-bottom: -.5rem;
      }

      & > li {
        margin: .5rem;

        &::after {
          bottom: -.25rem;
        }
      }
    }
  }
}

//Inputs base
@media (max-width: 480px) {
  .-switcher {
    flex-wrap: wrap;
    margin: -.25rem;
    padding: 0;
    background: none;
    border-radius: 0;
  }
}

//Components
@media (max-width: 480px) {
  .-prod-slider {
    width: calc(100% + 3rem);
    margin: 0 -1.5rem;

    .slick {
      &-list {
        padding-right: 125px;
      }
    }
  }
}

//Header mobile
@media (max-width: 480px) {
  .header-mobile {
    &__info-block {
      width: calc(100% + 2rem);

      &.-visible {
        left: -1rem;
      }
    }

    &__menu-top {
      width: calc(100% - 2rem);
    }

    &__menu-bottom {
      padding: 0 1rem;
    }

    &__catalog-block {
      ul {
        padding: 0 1rem;
      }
    }

    &__catalog-back {
      width: calc(100% - 2rem);
      margin: 0 1rem;
    }
  }
}

//Home page
@media (max-width: 480px) {
  .banner {
    padding-bottom: 0;
  }

  .news {
    &__container {
      width: calc(100% + 3rem);
      margin: 0 -1.5rem;
    }
  }
}

//Inner page
@media (max-width: 480px) {
  .inner-page {
    &__form {
      .-dot {
        label {
          width: calc(100% - 1.5rem);
        }
      }
    }
  }
}

//Shop product
@media (max-width: 480px) {
  .shop-product {
    &__header {
      flex-wrap: wrap;
    }

    &__title {
      order: 2;
      width: 100%;
      margin: .75rem 0 0;
    }

    &__manufacturer-img-wrap {
      order: 1;
    }

    &__gallery {
      width: calc(100% + 2rem);
      margin: 0 -1rem;
    }

    &__slide-gallery-img {
      max-width: 325px;
      width: 90%;
      margin: .75rem auto 0;
    }

    &__info-block, &__price, &__filter-block, &__shop-cart {
      justify-content: center;
      text-align: center;
    }

    &__info-block {
      &.-top {
        .shop-product__info-block-inner {
          justify-content: center;
          text-align: center;
        }
      }
    }

    &__filter {
      &.-price {
        .shop-product__filter-value {
          justify-content: center;
          text-align: center;
        }
      }
    }
  }
}

//Footer
@media (max-width: 480px) {
  .footer {
    &__info {
      text-align: left;
    }

    &__socials {
      justify-content: flex-start;
    }
  }
}

//420px/////////////////////////////////////////////////
//Blocks base
@media (max-width: 420px) {
  .-mrg-block {
    &.-portrait-gallery {
      .-mrg-inner {
        width: 100%;
      }
    }
  }
}

//Components
@media (max-width: 420px) {
  .-prod-slider {
    .slick {
      &-list {
        padding-right: 75px;
      }
    }
  }
}

//Home page
@media (max-width: 420px) {
  .calculation {
    &__item-inner {
      padding: calc(2rem + 75px) 1rem 1rem;
      background-position: 1rem 1rem;
    }
  }

  .news {
    &__container {
      .slick {
        &-list {
          padding-right: 1rem;
        }
      }
    }
  }
}

//Inner page
@media (max-width: 420px) {
  .inner-page {
    &__list {
      &.-manufacturers {
        .manufacturer__item {
          width: 100%;
        }
      }
    }

    &__accordion {
      margin-bottom: 1rem;
    }

    &__accordion-title {
      padding: 1.25rem 4rem 1.25rem 1rem;

      &::after {
        top: calc(50% - 16px);
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
      }
    }

    &__accordion-info {
      padding: 0 1rem 1.25rem;
    }

    &__table {
      width: calc(100% + 2rem);
      margin: -1rem;
    }
  }
}

//380px/////////////////////////////////////////////////
//Multipage sections
@media (max-width: 380px) {
  .manufacturer {
    &__item {
      width: 100%;
    }
  }
}

//Inner page
@media (max-width: 380px) {
  .inner-page {
    &__list {
      &.-w-2 {
        .inner-page__box {
          width: 100%;
        }
      }
    }
  }
}

//350px/////////////////////////////////////////////////
//Components
@media (max-width: 350px) {
  .-prod-slider {
    .slick {
      &-list {
        padding-right: 1rem;
      }
    }
  }
}

//320px/////////////////////////////////////////////////
//Buttons base
@media (max-width: 320px) {
  .btn-header-mobile {
    width: 35px;
    height: 35px;

    & > svg {
      width: 16px;
      height: 16px;
      top: calc(50% - 8px);
      left: calc(50% - 8px);
    }
  }
}

//Header
@media (max-width: 320px) {
  .header {
    padding-top: 60px;
  }
}

//Header mobile
@media (max-width: 320px) {
  .header-mobile {
    &__menu-btn-icon {
      left: calc(50% - 8px);
      width: 16px;

      &::before, &::after {
        width: 16px;
      }
    }

    &__menu {
      top: 59px;
      height: calc(100vh - 59px);
    }

    &__catalog-block {
      height: calc(100vh - 59px);
    }
  }
}

//Shop product
@media (max-width: 320px) {
  .shop-product {
    &__slide-gallery-img {
      width: 95%;
    }
  }
}
